@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap);
.theme1 {
  --background_theme: hsl(222, 26%, 31%);
  --action_background: hsl(223, 31%, 20%);
  --background: hsl(224, 36%, 15%);

  --button1: hsl(225, 21%, 49%);
  --buttonShadow1: hsl(224, 28%, 35%);

  --button2: hsl(6, 63%, 50%);
  --buttonshadow2: hsl(6, 70%, 34%);

  --button: hsl(30, 25%, 89%);
  --buttonShadow: hsl(28, 16%, 65%);

  --text1: hsl(221, 14%, 31%);
  --text2: white;
  --text3: white;
}
.theme2 {
  --background_theme: hsl(0, 0%, 90%);
  --action_background: hsl(0, 5%, 81%);
  --background: hsl(0, 0%, 93%);

  --button1: hsl(185, 42%, 37%);
  --buttonShadow1: hsl(185, 58%, 25%);

  --button2: hsl(25, 98%, 40%);
  --buttonshadow2: hsl(25, 99%, 27%);

  --button: hsl(45, 7%, 89%);
  --buttonShadow: hsl(35, 11%, 61%);

  --text1: hsl(60, 10%, 19%);
  --text2: white;
  --text3: hsl(60, 10%, 19%);
}
.theme3 {
  --background_theme: hsl(268, 75%, 9%);
  --action_background: hsl(268, 71%, 12%);
  --background: hsl(268, 71%, 12%);

  --button1: hsl(281, 89%, 26%);
  --buttonShadow1: hsl(285, 91%, 52%);

  --button2: hsl(176, 100%, 44%);
  --buttonshadow2: hsl(177, 92%, 70%);

  --button: hsl(268, 47%, 21%);
  --buttonShadow: hsl(290, 70%, 36%);

  --text1: hsl(52, 100%, 62%);
  --text2: white; /*(text)*/
  --text3: hsl(52, 100%, 62%);
}
html {
  font-size: 32px;
}
body {
  display: flex;
  padding: 0;

  height: 100vh;
  background-color: var(--background_theme);
  font-family: "Spartan", sans-serif;
  overflow: hidden;
}

#btn {
  width: 60px;
  height: 22px;
  background-color: var(--action_background);
  border-radius: 10px;
  position: relative;
}
.action {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: var(--button2);
  border-radius: 50%;
  top: 12%;
  margin: 0 3px;
}

/* for tablets */
main {
  max-width: 50%;
  margin: 8vh auto;
}
.top {
  max-width: 540px;
  width: 100%;
  color: var(--text3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button-part {
  position: relative;
}
.button-part pre {
  font-family: inherit;
  font-size: 0.4rem;
  position: absolute;
  bottom: 100%;
}
.button-part span {
  display: inline-block;
  position: absolute;
  right: 100%;
  font-size: 0.4rem;
  margin-right: 0.5rem;
}

.screen {
  max-width: 540px;
  height: 128px;
  max-height: 128px;

  color: var(--text3);
  background-color: var(--background);
  border-radius: 10px;
  margin: 0.7rem 0;

  position: relative;
  overflow: auto;
}
.output {
  position: absolute;
  right: 0.5rem;
  top: 1rem;
  max-width: 90%;
}

.buttonpad {
  max-width: 540px;
  width: 100%;
  background-color: var(--action_background);
  border-radius: 10px;
  padding: 0.4rem 0;
}
.rows {
  display: flex;
  justify-content: space-evenly;
  margin: 0.7rem 0;
  gap: 24px;
}
.button {
  border: none;
  border-radius: 10px;
  outline: none;
  width: 110px;
  height: 64px;

  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;

  align-items: center;
  text-align: center;
  font-family: inherit;
  color: var(--text1);
  background-color: var(--button);
  border-bottom: 4px solid var(--buttonShadow);
}
.button:active {
  transform: translateY(4px);
  border-bottom: none;
}
.button:focus {
  outline: 2px solid;
}
.row5 .button {
  width: 227px;
  height: 64px;
}
.key1 {
  color: var(--text2);
  background-color: var(--button1);
  border-bottom: 3px solid var(--buttonShadow1);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
}
.button2 {
  color: var(--text2);
  background-color: var(--button2);
  border-bottom: 3px solid var(--buttonshadow2);
}

/* for mobiles */
@media only screen and (max-width: 450px) {
  main {
    margin-top: -10px;
    max-width: 90%;
  }
  .button {
    width: 60px;
    height: 64px;
  }
  .screen {
    padding: 0;
    margin: 1.4rem 0;
    width: 327px;
    height: 88px;
  }

  .top {
    margin-top: 35px;
    width: 327px;
    max-height: 88px;
  }
  .row5 .button {
    max-height: 64px;
    max-width: 133px;
    width: 269px;
  }
  .buttonpad {
    max-height: 420px;
    margin-top: -31px;
    width: 327px;
  }
}
